body {
    background-color: #021735;
   }

.App {
    max-width: 800px;
    margin: 15px auto;
}

.App footer {
    font-size: 14px;
    margin: 10px 0;
    color: white;
}

.github {
    color: blueviolet;
}