.Weather {
    border: none;
    font-family: 'Baloo 2', cursive;
    color: black;
    padding: 16px;
    border-radius: 6px;
    font-size: 23px;
    padding: 20px 30px 20px 30px;
    background:"./images/background.jpg";
}

.Weather h1 {
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 13px 0;
    font-size: 50px;
    color: white;
    text-decoration-thickness: 2px;
}

.Weather ul {
    margin: 0;
    padding: 0;
    color: white;
}

.Weather li {
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    margin-bottom: 3px;
}

.Weather canvas {
    margin-right: 10px;
    margin-top: 5px;
}

.Weather .temperature {
    font-weight: bold;
    color: white;
    font-weight: 400;
    line-height: 64px;
}

.Weather .unit {
    color: white;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -27px;
    font-size: 30px;
}

.form-control {
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.btn {
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(47, 47, 165);
    border: none;
}

.main-temp {
    font-size: 80px;
    margin-top: 10px;
}

.main-info {
    text-align: center;
}

.right {
    text-align: right;
}

.no-margin {
    padding-left: 0px;
    padding-right: 0px;
}

.down {
    margin-top: 15px;
}

a {
    color: rgb(47, 47, 165);
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.btn:hover {
    background-color: aqua;
    color: black;
}


