.Weather {
    border: 2px outset black;
    font-family: 'VT323', monospace;
    color: rgb(135, 135, 135);
    padding: 16px;
    border-radius: 6px;
    font-size: 23px;
    padding: 20px 30px 20px 30px;
    background-color: white;
}

.Weather h1 {
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 13px 0;
    font-size: 50px;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    margin-bottom: 3px;
}

.Weather canvas {
    margin-right: 10px;
    margin-top: 5px;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-weight: 400;
    line-height: 64px;
}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -27px;
    font-size: 30px;
}

.form-control {
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid;
    background-color: rgb(255, 250, 242);
}

.btn {
    font-size: 20px;
    border-radius: 10px;
    background-color: pink;
    border-color: pink;
    box-shadow: 10px 5px 5px rgb(151, 149, 149);
}

.main-temp {
    font-size: 80px;
    margin-top: 10px;
}

.main-info {
    text-align: center;
}

.right {
    text-align: right;
}

.no-margin {
    padding-left: 0px;
    padding-right: 0px;
}

.down {
    margin-top: 15px;
}

a {
    color: rgb(174, 89, 253);
}