.WeatherForecast {
    text-align: center;
    margin-top: 15px;
    background-color:rgba(195, 155, 214, 0.7);
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    color: black;
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}